/* @group Preview and Save Buttons */

#origin-buttons{
	float: right;
	margin-top: 10px;
}

#origin-buttons > div {
	float: left;
}

#origin-buttons .preview {
	display: inline-block;
	margin-right: 10px;
}

#origin-buttons .preview .ui-button{
	float: left;
	margin-right: 0;
}

#origin-buttons .preview .ui-button-text{
	font-size: 12px !important;
}

/* @end */

/* @group Color Selector */

fieldset.type-color .container{
	display: inline-block;
	padding: 2px;
	border: 1px solid #C0C0C0;
	background: #EFEFEF;
	width: auto;
	
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
}

fieldset.type-color .current{
	border: 1px solid white;
	display: block;
	width: 96px;
	height: 36px;
	cursor: pointer;

}

fieldset.type-color .icon{
	width: 100%;
	height: 100%;
	background: url(../img/change.png) no-repeat right bottom;
}

fieldset.type-color input{
	display: none;
}

/* @end */

/* @group Slider */

fieldset.type-slider{
	width: 500px;
	position:relative;
}

fieldset.type-slider .current_value{
	position:absolute;
	top: -4px;
	right: -35px;
	width : 3em;
	font-size:12px;
	color:#666;
	border-left:1px solid #CCC;
	padding-left:8px;
}

fieldset.type-slider .jquery-ui-slider{
	width: 500px;
}

/* @group Value Indicator */

fieldset.type-slider .value-indicator{
	position: absolute;
	top: -33px;
	left: 50%;
}

fieldset.type-slider .value-indicator .val{
	font-size: 11px;
	padding: 2px 7px;
	background: #222;
	color: white;
	position: relative;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

fieldset.type-slider .value-indicator .val span{
	white-space:nowrap;
}

fieldset.type-slider .value-indicator .val .pointer{
	width: 10px;
	height: 5px;
	background: url(../img/pointer.png) no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -5px;
	bottom: -5px;
}

/* @end */



/* @end */

/* @group Image Select */

.image_select .option{
	float: left;
	width: 260px;
	margin-left: 10px;
	display: none;
	cursor: pointer;
}

.image_select img{
	width: 100%;
	height: auto;
}

.image_select select{
	display: none;
}

/* @end */

/* @group Image File */

fieldset.type-file .container{
	display: inline-block;
	padding: 3px;
	border: 1px solid #C0C0C0;
	background: #EFEFEF;
	width: auto;
	
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
	
	margin: 0 6px 5px 0;
}

fieldset.type-file .current{
	line-height: 0;
	border: 1px solid #BBB;
	padding: 10px;
	background: url(../img/grid.png) repeat;
}



/* @end */

/* @group Pattern Select */

fieldset.type-pattern .container{
	display: block;
	float: left;
	padding: 3px;
	border: 1px solid #C0C0C0;
	background: #EFEFEF;
	width: auto;
	
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
	
	margin: 0 6px 5px 0;
}

fieldset.type-pattern .current{
	line-height: 0;
	border: 1px solid #BBB;
	background: white;
	width: 340px;
	height: 90px;
	
	background-position: center center;
}


/* @end */

/* @group Preview */

#preview-container{
	padding: 2px 2px 18px 2px;
	overflow: hidden;
}

#preview-iframe {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

/* @end */

/* @group Filters */

#filters {
	margin-bottom: 30px;
}

#filters select{
	min-width: 250px;
}

/* @end */

/* @group Form Labels */

.form-table .info{
	font-size: 11px;
	color: #A0A0A0;
}



/* @end */